[2018-12-13 19:41] GargantulaKon opened #1 "Documentation and package.json Issues"
In my terminal, I tried to start the example app within the example folder. I tried to start it by following the ReadMe by running yarn. I got an error about Nest-Next missing. I then run yarn add nest-next. I tried running yarn again. That worked, but when I tried to run yarn dev. I then get another error for /bin/sh: nodemon: command not found. I then try adding yarn add nodemon --save-dev. I tr

[2018-12-14 18:08] kyle-mccarthy commented on #1
Hey thanks for checking this out! Thank you for letting me know about the problems with the package.json file in the example project. Originally I had stripped down one of my personal projects for the example but didn't do a good enough job of making sure you had everything you needed. I went in and fixed the reference for the `nest-next` package and added `nodemon` as a dev dependency.  Let me kn

[2018-12-14 18:52] GargantulaKon commented on #1
You're welcome. I'm learning Nest and Next through your example app so thank you for creating this package. Is Yalc not needed then? I'm looking forward to your Wiki page.

[2018-12-17 15:27] GargantulaKon opened #3 "Jest Test Fails for CacheConfigService"
For the example project, it could be something wrong with my configuration on my end, but I have an initial failing Jest test when running the test suite with no changes.

This is the error that I get:

In addition, for the constants.sts file, I get an error for the line in there: I'm running the Jest VSCode extension so it might be the run that notified me of the error.

[2018-12-17 15:58] kyle-mccarthy commented on #3
Hi I have added a mock for the ConfigService that was missing in that test file and removed that old file reference, I closed it via #4

[2018-12-17 15:58] #3 closed

[2019-01-16 23:43] Rmannn opened #5 "Remove the use of this.app.useGlobalFilters, Warning RendererService is a singleton"
Hello, thank you for this lib,

Actually, each route is binded to the renderer, It would be interesting to to be able to configure the url to handle via next and others via nest.
Trying to make an ajax request from browser to server ends in a "Not implemented" response.

Tell me if I am wrong, the renderer service is a singleton as the nest js module specification says. When an incoming request ha

[2019-01-17 03:33] kyle-mccarthy commented on #5
I thanks for checking it out! I just want to make sure that I understand, are you wanting to have a specific route which conditionally returns the rendered react page or returns some other data? Something like this?

[code]

Regarding your second point, services are singletons in next... So you may be right, let me verify this in the morning (CST).

[2019-01-17 04:38] Rmannn commented on #5
Exactly, I found that It was not possible at all cause the RenderFilter was sending the whole traffic to next.
I have extended the RenderFilter catch method to suit my needs, an example:
[code]
Since we can't override the filter, It would be great to be able to pass a custom RenderFilter.
Thx

[2019-01-17 18:57] kyle-mccarthy commented on #5
Thanks for providing me with this extra information. I have been thinking about this, and while I can provide a way for you to pass in your own filter implementation, what if I exposed a render method that you could call directly?  I was thinking something along the lines of this...

[code]

The render method on the RenderService could then handle applying a prefix if you have one set, and would o

[2019-02-17 03:46] briefguo opened #6 "Could I use `res.render` to render a component"
Hello

Use `res.render`, I could do this
[code]
[code]

I think that `nest-next` it run as a  engine powered by `next`, and next provides a few of some render method. Is there some samples to use these `renderMethod` easily?

![image](https://user-images.githubusercontent.com/9976575/52908148-e63b8400-32aa-11e9-9107-5d13328ee786.png)

[2019-02-18 21:52] kyle-mccarthy commented on #6
Hi I just checked and as of right now, res.render does not correctly reference the next render method. Let me look into this and see what I need to do to make that possible.

[2019-02-18 23:29] kyle-mccarthy commented on #6
@briefguo I released a new version (v0.4.0) which exposes the render method on the response object. You can use it like the example you proposed above. Additionally it takes an object in the second parameter allowing for data to be passed to the page.

[code]

[2019-02-18 23:29] #6 closed

[2019-02-18 23:32] kyle-mccarthy commented on #5
@Rmannn I released a new version that exposes the render method on the response object. This should allow for you to do what you were wanting without needing to modify or pass a custom filter. You can see #6 for the details!

[2019-02-18 23:32] #5 closed

[2019-02-19 04:16] briefguo commented on #6
@kyle-mccarthy  Thanks, it's very useful for me

[2019-03-06 07:26] HackedByChinese opened #7 "Server errors result in the _error page displaying a 404 and the original err is missing."
I've noticed this line in `render.filter`: https://github.com/kyle-mccarthy/nest-next/blame/master/lib/render.filter.ts#L28. If err has a property `response`, it tries to render the request normally rather than using the error renderer. Is there a reason for this?

I've noticed it's pretty common for server errors to have this property set, and it causes these server errors to show up as seemingly

[2019-03-06 16:07] kyle-mccarthy commented on #7
Hey good question, the reason that its done this way it to allow for the next assets (ex `/_next/static/development/pages/_app.js`) to be rendered by its own renderer. However, you are right that it is swallowing errors that shouldn't be handled by next.

Let me look into this a little more, but my initial thought is to allow errors with the 404 status code to be passed to the normal render functi

[2019-03-06 17:14] HackedByChinese commented on #7
Ah, I see. Thanks for the feedback (and also for your work on this module, it's great).

[2019-03-06 18:18] Rmannn commented on #5
Thank you ! I will check it

[2019-03-06 22:47] kyle-mccarthy commented on #7
Thanks, I am glad that you have been liking it so far!

I just pushed v0.5 which contains a much different process to handling errors and also allow for you to hook into the RenderFilter and modify the behavior/prevent next for responding.

By default next  just forwards the error to the _error page, but that doesn't really take into account if you want to return JSON or something else instead. To

[2019-03-06 22:47] #7 closed

[2019-03-24 03:31] ithinco opened #8 "Flash of Unstyled Content while using customized _document"
It seems that the customized _document hasn't been attached to the renderOpts in renderToHTML function  of next-server.

[code]

I'm using "next": "8"

[2019-03-26 14:37] kyle-mccarthy commented on #8
Hi can you provide a little more information about how you are handling your styles? I use emotion 10 and haven't encountered this issue. I also don't directly call the renderToHTML method, I call render.

[2019-03-27 01:53] ithinco commented on #8
Hi, @kyle-mccarthy I'm using material-ui and this _document.tsx setting. https://github.com/mui-org/material-ui/blob/next/examples/nextjs-next-with-typescript/pages/_document.tsx

BTW, Thanks for your work.

[2019-03-27 14:04] renehauck opened #9 "Using with GraphQl (resolver)"
First of all many thanks for this great package :+1:  Now I have a problem using this package with grapqhl (resolver).
I always get the following output when a graphql error occurs:

[code]
Also "setErrorHandler" is not triggered. A normal controller triggers it.

Thanks for your help

[2019-03-27 23:32] kyle-mccarthy commented on #8
Thanks for sending that over. Unfortunately it looks like the example they provided is wrong. The call renderPage directly from the context, rather than using the enhancer which can cause the flash reported in [this issue](https://github.com/zeit/next.js/issues/5629) on the nextjs repo.

I messed around with their material-next example a little bit and was able to get it working with the enhanceAp

[2019-03-27 23:32] #8 closed

[2019-03-27 23:44] kyle-mccarthy commented on #9
This is pretty interesting... I get the request and response from nest by calling `ctx.getArgs()` but this is saying that your request is undefined (which I didn't know is possible).

Would you provide me with a minimal reproducible example?

[2019-03-28 08:16] renehauck commented on #9
Of course... Here is the example:

https://github.com/renehauck/nest-next-render-error

Just start, open the page "http://localhost:3000/graphql" and execute the query
[code]
Normally the error "Ups" should appear, but instead the error "Cannot read property 'raw' of undefined" is thrown again.

[2019-03-28 15:29] kyle-mccarthy commented on #9
Thank you for that example, it was extremely helpful. I just released `v0.6.1` with a fix for your bug. Let me know if you have any other issues!

[2019-03-28 15:29] #9 closed

[2019-03-29 13:20] renehauck commented on #9
ok, the error is gone, but now I don't get any more errors which are thrown in the resolvers. :smiley:

[code]

I think there's an "else throw err;" missing at the end, right? :blush:

[2019-03-29 15:53] kyle-mccarthy commented on #9
Yes, you are correct! I pushed `v0.6.3` with this, sorry for prematurely closing the issue.

[2019-03-31 09:37] renehauck opened #10 "_app file"
Unfortunately the package does not work in combination with _app. Without the file "_app" all pages of the app are displayed, but as soon as the file is contained in the pages folder, an empty page is displayed. :disappointed:

Thank you

[2019-03-31 10:38] renehauck commented on #10
sorry, my fault

[2019-03-31 10:38] #10 closed

[2019-04-11 18:51] rnasif opened #11 "Cant start the app"
Hi there i am having this error when compiling:

Argument of type 'INestApplication & INestExpressApplication' is not assignable to parameter of type 'INestApplication'.
  Property 'enableShutdownHooks' is missing in type 'INestApplication & INestExpressApplication' but required in type 'INestApplication'.

this is my code:

`import { NestFactory } from '@nestjs/core';
import { AppModule } from '.

[2019-04-11 19:10] kyle-mccarthy commented on #11
Hi could you please provide me with the full stack trace for the error as well as the versions of nest, next and nest-next that you are using?

[2019-04-11 19:24] rnasif commented on #11
Hi kyle thanks for the quick response!

I am trying to implement next on this project [https://github.com/nartc/nest-mean](https://github.com/nartc/nest-mean)

full stack trace:

Nest: 5.4.0
Next: 8.0.3
nest-next: 0.6.3

[2019-04-16 20:58] kyle-mccarthy commented on #11
Ah okay so in version `0.6` of nest-next I upgraded the the dependencies to add support for nest 6; however, version `0.5.x` still uses nest 5. So if you are unable to upgrade to nest 6 you can do a `yarn add nest-next@0.5.0` and be able to use it.

[2019-04-24 20:37] kyle-mccarthy commented on #11
I am going to close this since it's related to and outdated version of nest. Please reopen it if you continue to have similar issues after upgrading nest.

[2019-04-24 20:37] #11 closed

[2019-04-30 15:11] tconroy opened #12 "seperate API routes and client routes?"
Hey there,
I'm new to nest/next but would like to use them together, where nest serves all `/api/` routes and next serves all client routes (ie all `GET` requests that aren't prefixed with`/api/`).

It seems like with this plugin nest tries to handle all the routes. How can I configure the routing to send all non-/api/ GET's to next and everything else to nest?

[2019-04-30 15:58] kyle-mccarthy commented on #12
Hi, Nest will try to handle all of the routes that Next does not render. So as an example, you have a single controller responsible for returning information about a user. In this controller you want to have a route that returns a rendered user page but also want a route that just returns JSON data about that user.

[code]

[2019-05-06 15:26] kyle-mccarthy commented on #12
I am going to close this since there hasn't been any additional feedback or questions.

[2019-05-06 15:26] #12 closed

[2019-05-13 13:29] renehauck opened #13 "Cache-Control header"
Hi, :smiley:
I have the problem that I try to set the "Cache Control" header, but unfortunately this doesn't work.

For this I use a NestInterceptor:
[code]
and the following route:

[code]
But in this case I get the following header:

[code]
If I use a route without rendering, I get the correct HEader back.:
[code]
[code]
Thank you for your work.

[2019-05-13 22:13] kyle-mccarthy commented on #13
Does this also happen with the app is running in production? I believe that Next always sets "no-store, must-revalidate" during development.

[2019-05-15 11:42] renehauck commented on #13
yes you are right :+1:

[2019-05-15 11:42] #13 closed

[2019-05-28 08:25] sanjaytwisk opened #14 "HMR breaks when using lower-case filenames for pages"
I am not quite sure if this is related to NestJS or the renderer, but when using lower-case filenames for pages (e.g index.tsx), hot module reload breaks and content is not updated.

[2019-05-28 15:39] kyle-mccarthy commented on #14
Would you be able to provide me a with a minimal reproducible example?

[2019-06-04 18:29] sanjaytwisk commented on #14
Sorry for the late reply. Cannot seem to reproduce the issue, even though I have been struggling with it for a full day before I found it... Only difference is that I deleted `node_modules` and installed all deps again.

[2019-06-04 18:29] #14 closed

[2019-08-02 07:46] Linjovi opened #17 "the build process doesn't end"
Hi, I encountered a very strange problem that when I used the package 'socket.io-client' in my project, the build process did not end up and exit, but will instead stay after the 'Compiled successfully' info.
[code]
![image](https://user-images.githubusercontent.com/18590421/62352861-c1c32380-b53b-11e9-833e-f677989ed428.png)
But when I use `ctrl+c` and `npm run start`, the project seems to be work

[2019-08-02 08:52] kyle-mccarthy commented on #17
Would you be able to make a minimal reproducible example as a repo and I can take a look at this?

[2019-08-02 11:52] Linjovi commented on #17
Thanks for reply, I just added the dependent 'socket.io-client' and added the following code
[code]
to the example/pages/views/index.tsx you gave, and without making any other changes, then that's what happens.
Or you can see the code in this repository at 'pages/components/Operator.tsx'：https://github.com/Linjovi/git-repos-manager
My node version is 11.12.0 if it's relevant

[2019-08-13 14:49] kyctarnik opened #19 "Nested routes"
I tried many times but didn't find solution about nested routes width this module.
Example: i want to set router like /auth/success/ where success - is another component dependents from route pass
`<section>
    <Switch>
      <Route path="/auth/success" component={LoginSuccess} />
      <Route path="/auth/failed" component={LoginFailed} />
      <Route component={LoginForm} />
    </Switch>
</sec

[2019-08-14 23:48] kyle-mccarthy commented on #19
I haven't actually tried this before. Would you provide me with an example of how this would be done with just nextjs? If you can show me how they do it, I can look into how it may be done with nest-next.

[2019-08-15 00:15] kyle-mccarthy commented on #17
Are you still having this issue? I just tried this with the new release, a socket-io server running on localhost:4000 and a client created in the index page file and didn't have any problems.

If the problem persists, I think you may be having an issue with creating the client socket outside the effect. Creating the socket where you are could be causing a problem when the page is rendered with SSR

[2019-08-15 02:01] Linjovi commented on #17
Thanks, you solved my problem perfectly, it looks like I made a stupid mistake orz.

[2019-08-15 02:02] #17 closed

[2019-08-15 16:07] kyle-mccarthy commented on #1
I apologize this is long overdue. To answer your question yalc isn't needed at all. I actually just use that to test out changes I make to the package before publishing it to NPM. That should have been removed prior to being pushed to git.

I updated the example and removed a ton of complexity. It can essentially be used as a started to quickly setup the project.

I also wrote a setup guide that b

[2019-08-15 16:07] #1 closed

[2019-08-18 22:32] kyctarnik commented on #19
Nevermind, found a solution width Redux and connected-react-router
store.tsx
import { createStore, applyMiddleware } from 'redux';
import { composeWithDevTools } from 'redux-devtools-extension';
import createRootReducer from './reducer';
import { createBrowserHistory, createMemoryHistory, History } from 'history'

export let history: History;
export function createHistory(baseUrl: string = '/'): H

[2019-08-19 15:06] #19 closed

[2019-08-24 05:59] webberwang opened #20 "Example for Next.js 9"
Next.js 9 overrides `tsconfig.json`, makes it difficult to get it working. Is it possible to provide an example for 9?

[2019-08-25 21:59] kyle-mccarthy commented on #20
Yeah I actually had an issue with that went migrating to next 9 so I rewrote [the example](https://github.com/kyle-mccarthy/nest-next/tree/master/example) to make it compatible. Basically, you need to have a [primary tsconfig.json](https://github.com/kyle-mccarthy/nest-next/blob/master/example/tsconfig.json), which next modifies, and then an additional [tsconfig.server.json](https://github.com/kyl

[2019-08-25 21:59] #20 closed

[2019-09-12 04:19] ZhiXiao-Lin opened #21 "error TS5053: Option 'declaration' cannot be specified with option 'isolatedModules'"
Hey!

Thank you for sharing the code.
 I got an error when I upgraded the version of next to 9.0.

[code]

This should be due to the new feature zero-config typescript support of next 9.0.

Now, the absence of either declaration and isolatedModules will cause errors, and the two options conflict with each other.

Do you have similar problems? Is there a solution?

Thanks!

[2019-09-19 19:13] dotai2012 opened #22 "Argument of type 'import' is not assignable to parameter"
Hi there, I think the plugin has some problems with type checking. I copy the example code and it produce the error:

`D:\Work\example\node_modules\ts-node\src\index.ts:245
    return new TSError(diagnosticText, diagnosticCodes)
           ^
TSError: ⨯ Unable to compile TypeScript:
src/main.ts:16:29 - error TS2345: Argument of type 'import("D:/Work/example/node_modules/next/dist/next-server/server

[2019-09-19 19:30] dotai2012 opened #23 "Next <Link> re-render when user navigating"
Thank you very much for creating this module. However, I found a bug that when I click on a link (use Next Link component), the page flashed. It should be render the pages seamlessly right?

[2019-09-19 23:39] kyle-mccarthy commented on #21
Do you need this option set for your server side code?

[2019-09-19 23:39] kyle-mccarthy commented on #22
What version of nest, next, and nest-next are you using?

[2019-09-19 23:42] kyle-mccarthy commented on #23
Can you provide me with a minimal reproducible sample repository?

[2019-09-20 00:53] ZhiXiao-Lin commented on #21
After I reinstalled the dependency, everything went well.

[2019-09-20 00:53] #21 closed

[2019-09-20 04:11] dotai2012 commented on #22
![Argument-error](https://user-images.githubusercontent.com/12532557/65298501-995dab80-db20-11e9-8e36-e3b13211fd40.png)

Sure, I created a repo for this: https://github.com/dotai2012/nest-next-error

Typescript version I used: 3.6.2

[2019-09-20 04:17] dotai2012 commented on #23
I created a repo for this: https://github.com/dotai2012/nest-next-error

Anyway, I somehow fixed this issue by duplicate the files from ./page/views to ./page -> The issue's gone. However, I think this is not a good solution

[2019-09-22 10:52] AmazingTurtle opened #24 "Different next/next-server versions cause TS2345 for renderer.register"
**Describe the bug**
RenderModule is using `Server` from `next-server`.
Typescript doesn't accept the second paramter of this call: `renderer.register(server, app);`
This is the erorr that comes up when compiling:

[code]

**Expected behavior**
RenderModule should use `Server` from `next`;
See `examlple/` in this repo, it's trying to pass Server `app` created by `Next` call which comes from `impor

[2019-09-24 02:22] kyle-mccarthy commented on #24
This looks like it may be related to the following PR from the next repo and was apart of their 9.0.6 milestone. https://github.com/zeit/next.js/pull/8613

Unfortunately, it looks like they removed the entire package but only made it a patch level version change? I will update this package to be compatible but it may break for everyone still on <=9.0.6.

[2019-09-24 20:19] #22 closed

[2019-09-24 20:26] kyle-mccarthy commented on #24
Hey a new version was just released. If you upgrade next to 9.0.6 as well as nest-next to 9.0.6, it should resolve the issue. Let me know if the problem persists, thanks!

[2019-09-24 21:11] kyle-mccarthy commented on #23
Hey so I was looking into this today, but I haven't actually been able to see the difference between pages served from ./pages/views vs ./pages in the example repo.

I have attached two gifs showing what I see visually between the two and they seem identical. Let me know if I am just missing something, thanks!

__Served from /pages/views__
![views-dir-2019-09-24 16 06 41](https://user-images.githu

[2019-09-25 05:49] boenrobot opened #26 "Doc clarifications"
But why though? What is the effect if one doesn't do that?

I'm early into a project, where the client and server folders are separate and the server takes the client folder, which allows them to have different settings.

I haven't done this setting and my "hello world" level app seems to work fine, so what are the consequences if it is missing?

I also don't have a .babelrc at the server either.

[2019-09-25 15:24] kyle-mccarthy commented on #26
You are correct about both of these, the changes to the next config file and babelrc are no longer needed. Thanks for pointing this out - I have update the docs accordingly!

AFAIK the only configuration changes required for next 9 compatibility are the separate client/server tsconfigs. With your setup, do you still have two separate tsconfigs?

[2019-10-02 20:41] AndrewKvalheim commented on #23
The problem is the page reload. It's visible in the screenshots; notice that the log is cleared and timings are reset.

Client-side navigation works as expected if I adhere to Next.js file naming conventions—use `viewsDir: null` and name page source files after their routes, i.e. typically lowercase.

[2019-10-03 03:48] kyle-mccarthy commented on #23
In one of the screenshots the viewsDir is set to null and the source files are named after the route. The only difference is that the files are capitalized. Regardless the logs and cleared in both screenshots.

Can you update your example to show the intended behavior you are describing? I am happy to make any changes but want to understand the problem.

[2019-10-04 17:26] kyle-mccarthy commented on #23
@AndrewKvalheim @dotai2012 Okay I looked into this more and I understand the problem and what the intended behavior is. I was also actually able to replicate this with just next using a custom server. It looks like if the setup deviates from the standard (like Andrew pointed out) and the pages aren't lowercase and matching the name of the route a reload occurs on navigation. I am going to try to p

[2019-10-04 18:20] kyle-mccarthy commented on #23
After going through their issue tracker it has become apparent that this is actually the intended functionality. In a `Link` component the `href` maps to the path inside the pages directory. See [this issue](https://github.com/zeit/next.js/issues/8085) and [their docs](https://github.com/zeit/next.js#dynamic-routing).

To make it work `href` needs to map to the path inside your pages directory and

[2019-10-04 18:20] #23 closed

[2019-10-14 20:44] kyle-mccarthy commented on #24
I am going to close this as it seems to be resolved. Please let me know if you are still encountering it and I will reopen this.

[2019-10-14 20:44] #24 closed

[2019-10-24 20:33] webberwang opened #27 "Type mismatch server.ts INestApplication & INestAppliactionSubset"
**Describe the bug**
[code]

doesn't match

[code]

[code]

<img width="1743" alt="codelab-ui-nestjs____Code_UIB_codelab-ui-nestjs__-_____packages_core_server_server_ts" src="https://user-images.githubusercontent.com/26264925/67523185-fa6a2900-f662-11e9-9b32-fc25f07ccf84.png">

**Expected behavior**
match type

**To Reproduce**
Repository URL:

**Version**
- next.js: 9.1.1
- nest: 6.5.3
- nest-nex

[2019-10-28 15:20] kyle-mccarthy commented on #27
It looks like you are using an older version if nestjs, can you upgrade to 6.8.5? That should resolve the issue. They added [redirect](https://github.com/nestjs/nest/commit/f4d3c03d6ba909146b62ac63cdf2d472bccddc0e#diff-5d7c4c18e789467d36c834373e5aac59) and [getType](https://github.com/nestjs/nest/commit/35635be02ebdee5f680beb00e95e4cd12798aa1b#diff-5d7c4c18e789467d36c834373e5aac59) methods to the

[2019-11-27 20:26] #27 closed

[2019-11-30 14:34] renehauck opened #29 "Caching"
Hi,

is there an example for the cache of nextjs pages with this module?
I couldn't find one in the example folder?
Thanks a lot :smiley:

[2019-12-09 20:28] ArrayKnight opened #30 "Next server type issue(s)"
**Describe the bug**

TS2345: Argument of type `'import(".../node_modules/next/dist/next-server/server/next-server").default'` is not assignable to parameter of type `'import(".../node_modules/nest-next/node_modules/next/dist/next-server/server/next-server").default'`. Types have separate declarations of a private property 'compression'.

For some reason Nest-Next implements a static version of Ne

[2019-12-09 21:37] kyle-mccarthy commented on #30
This has been a reoccurring issue, and I am not entirely sure what the best way to fix it is. I have included [next as a peerDependency](https://github.com/kyle-mccarthy/nest-next/blob/master/package.json#L37), but it's not working as I expected it would.

I'm not very well-versed in how peer deps work and would like to use the user's next-server rather than limiting it to the implementation of th

[2019-12-13 01:03] kyle-mccarthy commented on #29
Previously I did have caching included in the example, but it was kind of out of the scope and complicated the "getting started" phase. [If you go back to this commit](https://github.com/kyle-mccarthy/nest-next/tree/a2c36bd54f016320c383fe9f5e4db18511a2ea0e/example/src), you can see how I previously was doing caching with redis. LMK if that is helpful and I can try to include it in the wiki or docs

[2019-12-18 07:35] iangregsondev opened #31 "ViewsDir (pages) needs to be in the same place where server is ?"
Hi,

I am using NX (nrwl nx), I have both applications (server and ui) configured to be built in the following directory

[code]

I suppose that this configuration isn't supported right ?  I mean the viewsdir you state that you can't change the pages directory just the views.

My question, i suppose, is, can this library force a basedir to be used - which in my case would be /dist/apps/ui (where s

[2019-12-20 17:42] kyle-mccarthy commented on #30
@boenrobot Yup you are correct -- I had it is a peerDependency + dependency but it actually should be peerDependency + devDependency. I'll just pushed v9.1.1 with the correct package.json @ArrayKnight can you let me know if the new version resolves your issue?

[2019-12-20 18:45] #29 closed

[2019-12-21 22:40] kyle-mccarthy commented on #31
@boenrobot added an example of how to accomplish this, you can check it out in the [monorepo example](https://github.com/kyle-mccarthy/nest-next/tree/master/examples/monorepo).

[2019-12-21 22:40] #31 closed

[2019-12-22 08:39] iangregsondev commented on #31
Thank you!

[2019-12-24 19:49] eakarpov opened #33 "Application is not started with RenderModule import"
**Describe the bug**
 Nest could not find RenderModule element (this provider does not exist in the current context)

**Expected behavior**
Application starts

**Version**
- next.js: 9.1.6
- nest: 6.7.2
- nest-next: 9.1.1

**Additional context**
Using the configuration of monorepo in the examples here.

[2019-12-24 19:54] #33 closed

[2019-12-24 20:03] eakarpov opened #34 "nest run fails if import dto in monorepo"
**Describe the bug**
module.js:550
    throw err;
    ^

Error: Cannot find module '/home/george/Documents/slovinar/server/dist/main'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Function.Module.runMain (module.js:694:10)
    at startup (bootstrap_node.js:204:16)
    at bootstrap_node.js:625:3

**Expected behavior**
Imported inte

[2019-12-24 20:21] kyle-mccarthy commented on #34
Did you build the dto project? The types need to be emitted for them to be located.

[2019-12-24 20:49] eakarpov commented on #34
@kyle-mccarthy Yes, you're right. My fault.

But one question, I run the application and the watcher gives the following feedback. Why does it try watching the `/home` directory and not only ui folder that I defined in the following code?
[code]

`
Watchpack Error (watcher): Error: watch /home ENOSPC
Watchpack Error (watcher): Error: watch /home/george ENOSPC
`

[2019-12-24 21:56] kyle-mccarthy commented on #34
Is that the correct relative path? It looks like it may be going up too many directories.

[2019-12-24 21:59] eakarpov commented on #34
@kyle-mccarthy yes, it is. and the same path is in the monorepo example here.

[2019-12-24 22:03] kyle-mccarthy commented on #34
Are you running it from the main project directory or the server directory? Sorry I am not in front of my computer so I can’t provide a ton of assurance at the moment!

[2019-12-24 22:05] eakarpov commented on #34
@kyle-mccarthy I run the app from server folder.

[2020-01-02 06:00] #30 closed

[2020-01-02 17:26] ArrayKnight commented on #30
Sorry about the delayed response, I was on holiday. I can confirm that this has been fixed. Thank you

[2020-01-04 16:34] staszewski opened #36 "How to deploy an app"
**Describe the bug**
There is no info in readme how to deploy an app

**Expected behavior**
I'm trying to deploy app by myself but i have problems what steps to follow. It would be great to have this info in README

**To Reproduce**

Repository URL:

**Version**
- next.js:
- nest:
- nest-next:

**Additional context**
If i make it work by myself i will try to make pr for that, but for now it would

[2020-01-06 21:26] kyle-mccarthy commented on #36
The deployment depends on how you set your app up, for the [basic example](https://github.com/kyle-mccarthy/nest-next/blob/master/examples/basic/package.json) you would just do `yarn build` and then can run the built files with `yarn dev`.
LMK if this answers your question. When I have some free time, I can add a Dockerfile to the example which would make it a little more straightforward.

[2020-01-06 21:33] kyle-mccarthy commented on #34
I looked into this more and found some answers in the gatsby and jest repos that offer the same suggestion as @boenrobot, also it looks like just rebooting resolves the issue sometimes as well. Since this issue isn't really related to to nest-next I am going to close it.

Here are the relevant discussions from the other repos.
- [jest](https://github.com/facebook/jest/issues/3254)
- [gatsby](https

[2020-01-06 21:33] #34 closed

[2020-01-16 23:32] #36 closed

[2020-01-30 21:44] marco-dasilva opened #38 "React Routing"
I usually like to do my research and spend a lot of time doing so before reaching out for help but I'm at a dead end. I must be having tunnel vision at this point but either way here goes.

I understand the reason for handling routes in Nest and routing them to Next but I'm actually looking for Next to handle anything not defined in Nest. I don't know if this is the correct use case but here's an

[2020-01-31 02:12] kyle-mccarthy commented on #38
So I haven't actually tried this before, but messed around and think I found a solution. You will want to create your own global ExceptionFilter that passes the request and response to Next rather than handling it in Nest.

I was able to get it working with the following code. Some things to keep in mind is that this will pass on all of your NotFoundExceptions to Next, depending on your use case t

[2020-01-31 15:20] marco-dasilva commented on #38
I see it hitting the constructor but it isn't hitting the catch exception - I had a similar implementation of this earlier from a stackoverflow thread so I'll see what I missed there. I am confident I setup nest-next correctly with fastify.

Here's an example screenshot of what I'm seeing without defining the render in Nest. I used your basic example from the repo.
![cannot-get-object](https://use

[2020-01-31 17:00] kyle-mccarthy commented on #38
Could you try updating the code for that filter to call the request handler like `return this.requestHandler(req, res);`. I noticed a problem with the query not being what next was expecting.

Also I just wanted to confirm two things:

1. Make sure that you attach the global filter to the server after registering the RenderModule

[code]

2. The test file's file location is `/pages/test.tsx`, it s

[2020-01-31 17:15] marco-dasilva commented on #38
Good point! For (1) above, the order mattered - I was incorrectly setting it before it registered. Once it hit the filter, now seeing:
`The "url" argument must be of type string`

[2020-02-02 16:38] marco-dasilva commented on #38
I can confirm it's when using fastify.

[2020-02-02 17:07] marco-dasilva commented on #38
Solved the issue by returning this on NextPageFilter:
[code]

[2020-02-02 17:11] kyle-mccarthy commented on #38
ah yeah, I forgot that fastify modifies the req and res. I believe that you can also do

[code]

That is how we handled it in render.filter.ts FWIW.

[2020-02-03 01:14] webberwang opened #39 "Usage with next-routes"
The controller stops working if I use the routes handler.

<img width="1084" alt="codelab-ui-nestjs____Code_UIB_codelab-ui-nestjs__-_____packages_core_server_server_ts" src="https://user-images.githubusercontent.com/26264925/73618915-89ca9500-45df-11ea-9388-dff54d1beae6.png">

<img width="567" alt="codelab-ui-nestjs____Code_UIB_codelab-ui-nestjs__-_____packages_core_server_app_app_controller_ts" s

[2020-02-03 01:40] webberwang commented on #39
Looks like we have to use Controller routing instead of next-routes

[2020-02-03 03:19] kyle-mccarthy commented on #39
Can you elaborate on what happens when trying to use `useRouter`?

It sounds like this may be two separate issues, but in general we don’t support other 3rd party routing libraries. nest-next uses best entirely for the routing but you can add a global filter to pass requests that don’t resolve within nest and try to resolve with in next. See this issue for context https://github.com/kyle-mccarthy/

[2020-02-03 05:08] webberwang commented on #39
@kyle-mccarthy

`useRouter` is just empty without info, which is inline with nest not passing requests to next.

Right, solving issue #2 (resolving requests not resolved in nest) would solve #1, since we wouldn't need `next-routes` anymore.

Here's my attempt following #38 .

server.ts
[code]

[2020-04-01 09:17] Xilel opened #40 "Monorepo example production build always send 404 page"
**Describe the bug**
I have tried to use monorepo example. It's work fine in development, but production build always send 404 page. It's don't matter what page you ask (index or about).

**Expected behavior**
Render page what set in @Render decorator.

**To Reproduce**

Repository URL: https://github.com/kyle-mccarthy/nest-next/tree/master/examples/monorepo
1. In server directory: yarn install &&

[2020-04-19 05:09] Joebob12 commented on #40
I have this issue as well so it's not just you.

[2020-04-20 14:54] MartinYounghoonKim opened #41 "Monorepo initial props not working"
**Describe the bug**
After cloning the repository, I've start the monorepo's dev server. Server works fine, but initial props not working. This is just example code in [here](https://github.com/kyle-mccarthy/nest-next/tree/master/examples/monorepo).

[code]

**Expected behavior**
Receive the initial props in ui component's getInitialProps.

**To Reproduce**

Repository URL:

**Version**
- next.js:

[2020-04-20 18:02] kyle-mccarthy commented on #40
@boenrobot would you be able to look into this? I don't have experience with using the mono repo.

[2020-04-20 18:17] kyle-mccarthy commented on #41
In your IndexPage.getInitialProps if you `console.log(context.query)` what is the output?

[2020-04-21 00:20] MartinYounghoonKim commented on #41
@kyle-mccarthy
when I tried to logging like this,

[code]

[2020-05-03 19:44] JHacin opened #42 "Monorepo example does not have the viewsDir option set correctly"
**Describe the bug**
By default, the renderer serves pages from `pages/views`, however the monorepo example has both views placed directly under `pages`.

**Expected behavior**
The example should work out-of-the-box when cloning the repo and trying it out. The solution would be to either place `index.tsx` and `about.tsx` under a `views` subfolder client-side (examples/monorepo/ui/pages), or add th

[2020-05-04 00:46] kyle-mccarthy commented on #42
Hey thank you for providing a solution, would you be able to create a PR?

[2020-05-04 00:50] kyle-mccarthy commented on #40
@Joebob12 @Xilel I wanted to provide you an update. In #42 a user identified the problem, the viewsDir isn't correctly set. Using the file structure `/pages/views/{page here}` should resolve the problem. Alternatively, you can set the view `viewsDir` to end empty string.

[2020-05-04 07:49] JHacin commented on #42
Sure, can you grant me the required permissions?

[2020-05-04 10:29] JHacin commented on #42
Thanks.

[2020-05-04 10:29] #42 closed

[2020-05-09 14:57] Xilel commented on #40
I confirm, #42 solution work.

[2020-05-09 14:57] #40 closed

[2020-05-11 16:31] kyle-mccarthy commented on #41
Fixed by #43

[2020-05-12 07:35] Xilel opened #46 "Nest-next npm package contain unnecessary files"
![изображение](https://user-images.githubusercontent.com/9202864/81650839-5059bf00-9443-11ea-9689-6f617107f4b2.png)
Npm package contain allot of unnecessary files like
- example directory
- .github directory
- eslint.js
- changes.md
- .prittierrrc
We probably can add this files to  .npmignore.
Nest-next version: 9.1.0

[2020-05-15 09:22] rjoaopereira opened #47 "Question about the usage of the renderer"
Hi @kyle-mccarthy! Thanks for sharing this module.

I have a use case where I don't want to descriminate the pages in the controller that uses the renderer. I want it to be a catch all.

At first sight, it seems as everything was ok, but then I noticed that the assets were not being served.

A little investigation led me to learn that next's render method is only suited for pages although it also

[2020-05-15 22:19] kyle-mccarthy commented on #47
Hey thanks for checking it out. I don't exactly have a solution for you but can give you some more info and potential problems you may encounter.

So how the package currently works is that nest is responsible for the http server and initially handles the incoming request and performs all the routing. If the request doesn't have a route then nest throws an `NotFoundException`. That is where the Re

[2020-05-16 15:06] rjoaopereira commented on #47
Thank you for your explanation on the inner workings of the module.

As for the proposed solutions, I am actually keener on the first. My reasoning is that:
- I prefer nest on the front and next as a catchall
- the 404 handled by next makes sense to me even if an API route is called. My use case is not of a pure API server. I have an app which has an API for app consumption. The format of the 404

[2020-05-16 15:06] #47 closed

[2020-05-19 15:02] MartinYounghoonKim commented on #41
@kyle-mccarthy
Sorry to bother you. It didn't solve the problem.

[2020-05-19 20:53] kyle-mccarthy commented on #41
@MartinYounghoonKim it's no problem and sorry about that you are correct, the props aren't getting forwarded from the server. @boenrobot do you have any ideas about this one?

[2020-05-24 10:02] Xilel opened #48 "How to bypass /static path to next.js"
Let's  say, you want to get some static files to be load on pages (like img) with next.js (https://nextjs.org/docs/basic-features/static-file-serving). Right now all links to /static path will be captured with nest.js. You can use @nestjs/serve-static but it is unpleasant to use. Is were are some way to pass this matter to nest-next?
Nest-next version: 9.1.5
Next version: 9.3.3
Nest: 7.0.9

[2020-05-24 18:06] Xilel commented on #48
Ok, after read render.filter.ts i understand what any request not handled by nest controllers go to next. So i order to provide static file you need to create directory static in next project root.
Example:
![изображение](https://user-images.githubusercontent.com/9202864/82761094-16a49300-9e09-11ea-9db0-585c297d4946.png)
However, public folder did not work for me. What is strange, Next.js supporti

[2020-05-26 22:09] kyle-mccarthy commented on #48
This was recently brought up in #47.

One of the main problems is how Nextjs handles the public files. Let's say that you have a fresh nextjs install without any nest integrations and you have your logo saved to `/public/images/logo.png`. If you try to access that file with that path it will 404, but if you try to access it at `/images/logo.png` next will correctly resolve the path.

So this bring

[2020-05-31 23:15] logikaljay opened #49 "`experimental.baseUrl` configuration"
**Describe the bug**
I am trying to get nest-next working with my next app which is part of a larger solution.
Any request that hits my load balancer with the prefix of `/drivers` get forwarded to the next app.
Using nextjs v9.4.4 I am able to set the `experimental.baseUrl` configuration option in `next.config.js` to `/drivers` and this works fine.
When using `next-nest` the browser keeps trying t

[2020-06-01 00:01] logikaljay commented on #49
Not sure why, but also supplying a `basePath` resolved my issue.

Configuration of the `RenderModule`:
[code]

[2020-06-01 00:01] #49 closed

[2020-06-01 01:01] logikaljay commented on #49
It turns out `basePath` (and will conflict) if you specify `app.setGlobalPrefix("drivers")` in your `main.ts`.

[2020-06-18 17:49] jgoux commented on #38
This is exactly my use-case, I was actually surprise that it isn't the default.

Do you think this could be included and enabled via an option?

[2020-06-18 18:15] kyle-mccarthy commented on #38
@jgoux I think that should be possible. Just to clarify, you want all the requests that Nest thinks are 404s to be handled by Next's request handler? The only problem that I could see with this, is even if you throw a NotFoundException it would still be forwarded to nextjs. If we were to go this route I think it would resolve #47 and #48.

Also I believe that calling Next tries to start the server

[2020-06-18 18:20] jgoux commented on #38
@kyle-mccarthy Sorry I meant I'm callling it from both `bootstrap` and the `RenderModule.forRootAsync` in my AppModule.

So it seems to start the Next.js compilation twice in parallel.

If we use the NextPageFilter approach, should we do anything special to the AppModule?

[2020-06-18 18:38] kyle-mccarthy commented on #38
@jgoux  Oh yeah so this issue is a little older and uses the deprecated bootstrapping method - you don't need to call it in your bootstrap file anymore. See https://github.com/kyle-mccarthy/nest-next/blob/master/examples/basic/src/main.ts

Also to follow up on my question, are you wanting to have all 404s be handled by next instead of nest handling it? This is a feature I would definitely be open

[2020-06-18 18:45] jgoux commented on #38
Yes I don't mind having next handling all the 404s. What could be the downside?

As a total outsider I really thought this was the default behaviour, and that you could add specific Nest handlers as you go.

Just to be sure, following the modern bootstraping approach, is this the correct way to register the NextPageFilter? Or can it be moved to AppModule as well?

[code]

[2020-06-18 18:51] kyle-mccarthy commented on #38
That is correct, since you need to provide the RenderService for your filter.

And I don't really see any issue with passing the request to next when nest 404s, I will look into providing that option.

[2020-06-18 18:53] jgoux commented on #38
This is awesome, thanks **a lot** for your answers and your work on this library! The NestJS ecosystem really seems great. 😄

[2020-06-19 12:31] dayrim commented on #38
Any chance you can provide an example project for this ?

[2020-06-19 12:32] dayrim commented on #38
Any chance you can provide an example project for this ?

[2020-06-23 02:25] kyle-mccarthy commented on #38
@jgoux @dayrim I've made the updates that will allow for you passthrough requests that 404 to next. It's currently on the [next branch](https://github.com/kyle-mccarthy/nest-next/tree/next) and you can preview it by doing a `yarn add nest-next@beta`. There is also an example available here https://github.com/kyle-mccarthy/nest-next/tree/next/examples/passthrough

I've still got to update the main

[2020-06-23 02:26] kyle-mccarthy commented on #48
@Xilel I just added a new config option, [see this comment](https://github.com/kyle-mccarthy/nest-next/issues/38#issuecomment-647867509) for some info on how to get the public directory working

[2020-06-23 02:27] kyle-mccarthy commented on #39
@webberwang I added a new option in the nest-next beta preview. I think that it may allow for you to use next-routes. See https://github.com/kyle-mccarthy/nest-next/issues/38#issuecomment-647867509

[2020-06-23 15:07] jgoux commented on #38
Thanks for the change, I'll test it soon!

Is there any way to support `src/pages` as the path? Next.js supports both `pages` and `src/pages` as valid paths, and I prefer to group everything in `src`.

For the naming, maybe `nextFallback`? I don't know, naming is the hardest part. 😄

[2020-06-23 15:54] kyle-mccarthy commented on #38
@jgoux I actually think that should be possible by omitting step 1 from my previous comment. The only reason I actually did that is so that next knows it should look in the `src`'s parent directory for the `pages` dir.

[2020-06-27 22:52] YuraGB opened #50 "Dynamic routes. strange error"
"nest-next": "^9.2.0",

The issue is in dynemic route:
 - Expected behavior:
in app.controller.ts
`
@Get('category/:test')
  public category(@Res() res: RenderableResponse) {
      res.render('category/[...test]');
  }`

in the component :
` <Link href='/category/[test]' as='/category/negligence'>`

I want that [...test].tsx in pages/views/category/[...test].tsx  render withought any issues
when t

[2020-06-27 23:11] kyle-mccarthy commented on #50
I haven't personally used catchall routes is next before, but I think your link is supposed to be like this:

[code]

Note the change to the href.

See https://github.com/vercel/next.js/blob/canary/examples/catch-all-routes/components/header.js

Also if you are using [the default "viewsDir"](https://github.com/kyle-mccarthy/nest-next#settings) you will need all of your hrefs to be prefixed by view

[2020-06-28 07:38] YuraGB commented on #50
Greetings, Kyle!
I'm glad that you had time to answer so quickly.

I am using it. I just copied smallest part of what I think is the most important.

I confirm that if add prefixes into 'href' and into 'as' fields the code will work without error.

I have noticed it. I needed to put some functionality into __app.tsx and discovered that the file should be placed one Lvl above.

Note: It would nice

[2020-06-28 07:39] #50 closed

[2020-06-28 14:40] yangzhennupt opened #51 "local development env works error"
**Describe the bug**
I try to update next to 9.4.2,  found  local development *.js *.css report 404 error

**Expected behavior**

example  :
Request URL: http://localhost:8080/_next/static/development/pages/views/Index.js?ts=1593354583846

got httpCode 404

**To Reproduce**

Repository URL:

**Version**
- next.js: 9.4.2
- nest: 6.8.3
- nest-next: 9.2.0

**Additional context**
Add any other context

[2020-06-28 21:59] kyle-mccarthy commented on #50
I agree that the docs could use a little work! I want to put together some sort of FAQ when I have time. I am hoping when I transition the default viewsDir to null it will make things more intuitive by removing opinionated code and deferring the next's styles.

[2020-06-28 22:04] kyle-mccarthy commented on #51
Can you provide additional information? I just checked and everything works as expected with `next@latest`.

[2020-06-29 06:35] yangzhennupt commented on #51
my package.json dependencies

 "@nestjs/common": "6.8.3",
    "@nestjs/core": "6.8.3",
    "@nestjs/platform-express": "6.8.3",
    "@nestjs/swagger": "3.1.0",
    "@types/uuid": "3.4.6",
    "@zeit/next-css": "1.0.1",
    "@zeit/next-less": "1.0.1",
    "axios": "0.19.2",
    "babel-polyfill": "6.26.0",
    "cookie": "0.4.0",
    "cookie-parser": "1.4.4",
    "helmet": "3.21.1",
    "isomorphic-u

[2020-06-29 16:15] kyle-mccarthy commented on #51
What does you `HttpExceptionFilter` class look like? nest-next adds its own global filter that is responsible for catching requests and forwarding them nextjs. It looks like you are overriding our [RenderFilter](https://github.com/kyle-mccarthy/nest-next/blob/master/lib/render.filter.ts).

[2020-06-30 14:19] yangzhennupt commented on #51
[code]

[2020-07-01 12:05] yangzhennupt commented on #51
@kyle-mccarthy   I got it .
my global filter has not ignore these static resources request which need by nest-next ;
nest got exception and then I just ended this response;

[2020-07-03 05:43] gaurav-bothra opened #52 "How todo aliasing of nestjs module?"
Hi,

Thanks for creating this amazing lib. I am trying to add nest-next lib in my existing project. But I am not able to aliasing in nestjs.

**tsconfig.json**

`
{
  "compilerOptions": {
    "target": "esnext",
    "module": "esnext",
    "jsx": "preserve",
    "pretty": true,
    "noImplicitAny": true,
    "alwaysStrict": true,
    "strictNullChecks": false,
    "strict": false,
    "noImplicitR

[2020-07-03 06:51] #51 closed

[2020-07-29 16:36] kyle-mccarthy commented on #52
How are you actually running the server? I am not sure if the aliasing is directly related to nest-next, you may want to checkout [this article](https://dev.to/rubiin/resolving-path-alias-in-nestjs-projects-11o1).

[2020-07-29 16:38] kyle-mccarthy commented on #38
@jgoux Did you have an opportunity to try this out? If it works for your use case, I can merge this and deploy a new version.

[2020-07-29 17:23] jgoux commented on #38
@kyle-mccarthy No sorry I was on another subject. I'll try it this week and let you know. Thanks again for your patience.

[2020-08-13 14:19] Marcus-Rise opened #54 "Question: how to use with supertest"

[2020-08-13 14:22] Marcus-Rise commented on #54
[code]

[2020-08-13 14:22] Marcus-Rise commented on #54
[code]

[2020-08-13 14:23] Marcus-Rise commented on #54
`next.config.js`
[code]

[2020-08-14 05:49] Marcus-Rise commented on #54
Only works deprecated config

`bootstrap.ts`
[code]

[code]

[2020-08-27 12:38] NOtherDev opened #55 "Invalid hook call in monorepo example"
**Describe the bug**
The setup as shown in monorepo example apparently includes React twice in the final bundles, making it impossible to use hooks due to hook violation

**Expected behavior**
I'd expect hooks to be working correctly - like they do in basic example.
I'd expect React to be included once - as I suspect this is the cause of hooks failure

**To Reproduce**
1. clone the monorepo exampl

[2020-08-28 04:58] sergioutama opened #57 "Missing module on Monorepo example"
**Describe the bug**
Navigating to the route where next being served on monorepo example (eg: `localhost:3000/about`) will produce following error
[code]

**Expected behavior**
No error produced and the route serve the right component from nextjs

**To Reproduce**
1. Clone this repo and run the example
2. Build `ui` `dto` and `server` first (there is missing `@types/webpack` dependency, so i insta

[2020-08-28 08:11] NOtherDev commented on #57
Also had this, was gone when I upgraded the dependencies, in particular next to 9.4.4 (but not the newest as it was failing with yet another esoteric error).

[2020-08-28 08:16] NOtherDev commented on #55
Digging deeper, it seems it's directly caused by https://github.com/vercel/next.js/issues/9022, so not the issue of this repo itself.

[2020-08-28 15:50] sergioutama commented on #57
@NOtherDev thanks for the tips, it help me solve the problem.
It seems the issue is in next repo itself

[2020-09-03 21:50] kyle-mccarthy commented on #55
I'm actually going to reopen this because [it looks like it may be an issue](https://github.com/vercel/next.js/issues/9022#issuecomment-559622803) with both the ui and server having `react` and `react-dom` as dependencies. It looks like the there are two suggestions to fix the problem.

1. Move the `react` and `react-dom` dependencies up a directory into the main monorepo folder. [This comment](ht

[2020-09-04 06:31] NOtherDev commented on #55
Yes, actually I solved it by moving the dependencies one level up, too. Worked for me. I closed it as it's basically the Next's issue, but in fact you're right, the issue with the example being broken exists here. I'd prepare the PR when I have a moment.

[2020-09-10 20:17] twigs67 opened #59 "Basic example not initializing next.config.js"
Hello,

I've added `next.config.js` to the root of the repo, but it's not picking it up. I'm trying to use SASS with the project. Any idea how to get this working?

Thanks

[2020-09-10 20:26] twigs67 commented on #59
Nvm, I was adding it to `pages/views`, but moving it to `/pages` did the trick.

[2020-09-10 20:26] #59 closed

[2020-09-10 20:40] twigs67 commented on #38
@kyle-mccarthy I'm getting the following error:
[code]
Any idea how I can get this working?

Thanks

[2020-09-10 20:42] kyle-mccarthy commented on #38
@twigs67 hey thanks for checking this out - I just want to make sure that you have the right version installed since this currently isn't mastered. Did you add `nest-next` with `yarn add nest-next@beta`?

[2020-09-10 20:43] twigs67 commented on #38
@kyle-mccarthy I did not. Sorry about that - should have read a bit more. Thanks!

[2020-09-10 20:45] kyle-mccarthy commented on #38
@twigs67 no problem at all - I actually do want to master this ASAP but have been awaiting feedback. If it works for your use case and works how you'd expect let me know and I'll master it + deploy a new version.

[2020-09-10 20:47] #55 closed

[2020-09-10 20:49] kyle-mccarthy commented on #41
@MartinYounghoonKim Can you confirm that you built the ui with `yarn build` from the `ui` directory before running the server from the `server` dir?

[2020-09-10 21:03] #46 closed

[2020-09-10 21:52] twigs67 commented on #38
@kyle-mccarthy yes, it did work for me. However, I had to remove `viewsDir` as it was giving me a 404.

[2020-09-16 13:30] MartinYounghoonKim commented on #41
@kyle-mccarthy okay, I'll check

[2020-09-20 10:38] MartinYounghoonKim commented on #41
@kyle-mccarthy I think it solved. what was the problem ?

[2020-09-22 17:18] kyle-mccarthy commented on #41
@MartinYounghoonKim I don't know the exact reason, but the ui folder must have an existing build for the server to correctly send the props. I'm going to close this issue since it seems to resolve the problem.

[2020-09-22 17:18] #41 closed

[2020-09-22 17:20] kyle-mccarthy commented on #52
I am going to close this issue since more information wasn't provided and it doesn't seem related to this lib.

[2020-09-22 17:20] #52 closed

[2020-09-27 15:30] baleksandr48 opened #62 "Are getStaticProps and getServerSideProps supported?"
In example I see that you use **getInitialProps** function. But in the official doc there is an info that it's better to use **getStaticProps** and **getServerSideProps**.

I downloaded your example, installed last version of **next**, replaced **getInitialProps** -> **getStaticProps** and started an app.
[code]
What I see? The argument is empty object.

After that I opened this official doc (http

[2020-10-01 05:39] gaurav-bothra commented on #52
Hi @kyle-mccarthy

I already setup alias path in tsconfig.server.json file but still I am getting error.

[2020-10-01 05:43] gaurav-bothra commented on #52
Also When I remove alias package from main.ts

I am getting this error

[code]

[2020-10-01 07:57] gaurav-bothra opened #63 "Facing error while running building production."
[code]

[2020-10-05 18:14] kyle-mccarthy commented on #63
Can you verify that the app was built using `yarn build` or `npm run build` prior to running start?

[2020-10-06 02:59] gaurav-bothra commented on #63
npm run build

[2020-10-07 17:03] sergioutama commented on #57
@kyle-mccarthy
I think we can close this issue. After further investigation, following @NOtherDev tips works and it's indeed NextJS issue.
Thanks for taking your time to look at this issue 👍

[2020-10-07 17:03] #57 closed

[2020-10-13 09:35] baleksandr48 commented on #62
Does somebody has any minds about this?

[2020-10-13 20:20] kyle-mccarthy commented on #62
`getServerSideProps` works and can replace the `getInitialProps` call ; however, I am unsure if `getStaticProps` will work. I would be curious to see if it works with the [beta passthrough feature](https://github.com/kyle-mccarthy/nest-next/tree/next/examples/passthrough).

[2020-10-15 17:25] kyle-mccarthy commented on #52
This is a TS error unrelated to this package, you would probably get better (and quicker) assistance on a site like StackOverflow. However, with the information provided it looks like TS is telling you that process.env.PORT might be undefined and therefore you can't ensure the  number type. You may be able to resolve the issue with defining your PORT var like `const PORT: number = process.env.PORT

[2020-11-11 07:58] Israel001 opened #64 "How to exclude routes from this module"
I am trying to block this module from handling some specific routes. Please how can I achieve that.

[2020-11-12 16:53] DiFuks opened #65 "RenderService.setErrorHandler not working"
I need custom nest error handling for logging and custom response. The documentation has a section on this: https://github.com/kyle-mccarthy/nest-next#handling-errors

_I am going to use your library on a very large production project. So I really need help. If you point out what the problem is, I could help you solve it. And further help the development of your project_

Example of my code:

[cod

[2020-11-14 00:07] kyle-mccarthy commented on #65
Hey I wanted to let you know that I looked into this, it's a good question and I hand't actually had this come up before. The tl;dr is that since you're throwing the error in the actual NextPage so next's renderer is handling the error and not throwing it back out to nest/nest-next.

This package exposes next's render on the response by overriding the default server's render function, this is done

[2020-11-14 00:10] kyle-mccarthy commented on #64
Hey this functionality is currently exposed on the 'next` branch, you can see my comment [here](https://github.com/kyle-mccarthy/nest-next/issues/38#issuecomment-647867509) for more info.

I am planning on mastering this, but am waiting on community feedback to make sure it didn't introduce any unforeseen problems.

[2020-11-14 04:23] Israel001 commented on #64
Hi,

I think you misunderstood my question. I am not trying to make this module forward my routes automatically to Next.

I am trying to skip the whole Next middleware altogether. I have a route that is supposed to be handled by another package, but Next keeps interrupting and returning ```404 not found``` instead.

[2020-11-14 11:22] DiFuks commented on #65
@kyle-mccarthy Thanks for the answer! Unfortunately, overriding the page error is not enough functionality for me. At least, due to the fact that it does not work in dev mode. And it doesn't provide enough flexibility. But I will try to solve this problem somehow.
[GetPageWithApi](https://github.com/DiFuks/react-next-nest-boilerplate/blob/master/src/server/Page/decorators/GetPageWithApi.ts) is use

[2020-11-16 16:04] kyle-mccarthy commented on #64
How do you have the other package working with nest?

[2020-11-16 16:35] Israel001 commented on #64
I am using the traditional ```use``` method. Something like this:
[code]

[2020-11-16 19:57] kyle-mccarthy commented on #64
Are you using fastify or express? And does your middleware work without nest-next?

[2020-11-17 04:25] cieldon32 opened #66 "after "yarn start", get error like this:"
**Describe the bug**
import "reflect-metadata";
^^^^^^

SyntaxError: Cannot use import statement outside a module

[2020-11-17 04:41] kyle-mccarthy commented on #66
Can you provide more context? What are you running start on, an example?
On Nov 16, 2020, 10:26 PM -0600, cieldon32 <notifications@github.com>, wrote:

[2020-11-17 07:36] Israel001 commented on #64
I am using express. And yes, my middleware works without ```nest-next```

[2020-11-17 19:21] kyle-mccarthy commented on #64
Can you show me how your middleware works? The render filter ignores the request [if the headers have already been sent](https://github.com/kyle-mccarthy/nest-next/blob/2bf771e3d68aa37f51fe0ed81fbc6c52c92ea199/lib/render.filter.ts#L71). So that makes me think that it isn't sending a response.

Additionally, I would be curious to see if adding a custom error handler intercepted the error.

If you p

[2020-11-17 19:29] kyle-mccarthy commented on #65
Okay that makes sense to me, this would be a good use case for next's [getServerSideProps](https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering). Unfortunately, when I created nest-next it was before that was added so it doesn't really take that or the API routes into account. I do have a pretty good idea of how I could implement this package to be aware of

[2020-11-17 19:29] #65 closed

[2020-11-18 02:57] Israel001 commented on #64
Okay, here is a repository: https://github.com/Israel001/nest-issue

If you try to access ```/monitor``` it says ```404 not found``` but if you uncomment the render module, it works.

[2020-11-18 04:03] kyle-mccarthy commented on #64
@Israel001 okay so I figured out the problem, [the bull-arena package tries to use the hbs templating engine](https://github.com/bee-queue/arena/blob/6fc5860f55c54e0dfb3fcab58de2b3fc9556c26e/src/server/app.js#L30) provided by express; however, nest-next overrides that to allow rendering to be done by nextjs.

By overriding the `render` method on the response, it allows for this package (nest-next)

[2020-11-18 04:05] kyle-mccarthy commented on #63
Are you passing any options to next? It looks like it's trying to find the build in `...\basic\.next\.next`.

[2020-11-18 06:54] Israel001 commented on #64
Oh, I see. I can't imagine how any of these options will be applied to fix the issue from usage perspective lol.

Anyway, I've found another package that doesn't try to use hbs templating engine, and it's working fine now.

[2020-11-18 06:54] #64 closed

[2020-11-19 14:51] DiFuks opened #67 "Requests stuck in a pending state when using a Interceptor and node 14"
[code]

[code]

[code]

After a request to the address http://localhost:3000/ the server serves all files except one. This file gets stuck in "pending" status. IMPORTANT! The bug is only seen in 14+ versions of node.js. There is no error in version 12:

![image](https://user-images.githubusercontent.com/12777199/99681370-1e2eb700-2a8f-11eb-9443-81e69abbb7f9.png)

[2020-11-19 15:29] DiFuks commented on #67
By direct request in the address bar http://localhost:3000/_next/static/chunks/main.js?ts=1605799518477 the file is successfully loaded
![image](https://user-images.githubusercontent.com/12777199/99686948-2558c380-2a95-11eb-8d4d-c1c7e05577d5.png)

[2020-11-19 15:30] DiFuks commented on #67
This link has a similar problem https://stackoverflow.com/questions/63610932/express-static-network-requests-stuck-on-pending

[2020-11-20 00:44] kyle-mccarthy commented on #67
have you tried checking if it works correctly on node 12?

[2020-11-20 13:02] DiFuks commented on #67
@kyle-mccarthy Yes, in the description of the issue I wrote:

This is a minimal version of the project with a reproduced issue: https://github.com/DiFuks/nest-next-minimal

#### For a successful run:
[code]
or
[code]
#### For an unsuccessful run:

[code]

[2020-11-20 13:04] DiFuks commented on #67
Perhaps the problem is not with your library, but for example with express. But first I would like to make sure of this

[2020-11-20 14:01] DiFuks commented on #67
This hard fix worked for me: https://github.com/DiFuks/nest-next-minimal/commit/e8fb00c503ac65f3fbfc24d402cc8d47b79a9f1c

[2020-11-22 01:38] kyle-mccarthy commented on #67
Okay I've spent a pretty large amount of time debugging this and think I have an idea of what's going on, but I'm not entirely sure what the cause of the problem is. The primary thing is that the interceptor seems to be causing the next incoming http request to hang. You can verify this by using node14 and the `Render` decorator on the controller's method.

I suspect that the problem is caused by

[2020-11-22 10:29] DiFuks commented on #67
This solution works for me. But I don't understand why response.render is returning a promise.
What do you think is the best way to address this problem? To the node.js repository?

[2020-11-22 10:32] DiFuks commented on #67
I'm afraid my knowledge of node.js and English is not deep enough to correctly formulate the problem. 😅

[2020-11-22 22:56] kyle-mccarthy commented on #67
The response.render is returning a promise because it is actually calling next's render function instead of the express render function. [This library overrides](https://github.com/kyle-mccarthy/nest-next/blob/2bf771e3d68aa37f51fe0ed81fbc6c52c92ea199/lib/render.service.ts#L227) the default render function provided by express with next's render function. This is primarily done to allow for devs to

[2020-12-14 18:03] DiFuks opened #68 "Request stuck when using hmr"
The first request to localhost:3000 works correctly. But after modifying any of the files and rebuilding using webpack hmr, the page stops responding. The request stuck in the "pending" status

webpack.config.js
[code]
IndexController:

[code]

[2020-12-15 19:43] amir-arad opened #69 "any chance of supporting next 10 ?"
they say there are "[no breaking changes](https://nextjs.org/docs/upgrading#upgrading-from-version-9-to-10)"
and it's a blocker from upgrading to react 17...

[2020-12-16 22:38] kyle-mccarthy commented on #69
Hi, I actually believe that this works with `next@10`, `react@17` and `react-dom@17`. At least it worked as expected when I updated those packages on the [basic example](https://github.com/kyle-mccarthy/nest-next/tree/master/examples/basic). Did you have any specific problems when using next 10?

[2020-12-21 20:57] amir-arad commented on #69
npm won't let me try because it violates peerDependencies... maybe a release with a more permissive versions range?

[2020-12-22 03:13] kyle-mccarthy commented on #69
ah interesting, `yarn` didn't complain so I assumed `npm` wouldn't care.

I've published a new version (9.3) to allow for next 10. Let me know if it resolves the problem!

[2020-12-25 08:17] amir-arad commented on #69
seems to work, thanks.

[2020-12-25 08:27] amir-arad opened #70 "tests support (based on monorepo example)"
**Describe the bug**
the monorepo example does not support test (@nestjs/testing).

`Test.createTestingModule({imports: [AppModule]}).compile()` breaks:
`TypeError: Cannot set property 'render' of undefined
    at RenderService.bindHttpServer (.../node_modules/nest-next/dist/render.service.js:79:23)`
**Expected behavior**
not break, or supply another way to run e2e test
**To Reproduce**
sorry, it'

[2020-12-27 02:13] kyle-mccarthy commented on #70
So I think you will have to register the RenderModule differently for testing, it's a little bit more of a manual process that we [previously use to recommend](https://docs.nestjs.com/fundamentals/testing#end-to-end-testing). Then in the actual test it would be similar to how the [e2e testing example](https://docs.nestjs.com/fundamentals/testing#end-to-end-testing) in nest works.  I haven't tested

[2020-12-28 11:01] amir-arad commented on #70
I'm trying to go in that direction and I get this error:
[code]

[2020-12-28 11:05] amir-arad commented on #70
also, can you explain the "magic" behind importing `RenderModule` itself and not the result of `RenderModule.forRootAsync(...)`? where does it get the `Next` server and `{ viewDirs }` config from at runtime?
I'm new to nest, so this might be too trivial?

[2020-12-28 19:39] amir-arad commented on #70
thanks!
I havent figured out how to pass the configuration options (specifically `viewsDir`)

[2020-12-28 20:43] kyle-mccarthy commented on #70
I had previously used the wrong link for the old documentation, I've updated it in my previous comment, it was supposed to point here: https://github.com/kyle-mccarthy/nest-next/blob/f8dd9f3ce3f537b80b8afe8019da63bdccc1de17/README.md#import-and-register-the-rendermodule

Also, the [register method](https://github.com/kyle-mccarthy/nest-next/blob/08426c74a94d59cc5d9742fc3d4d4931b1b3a75f/lib/render.

[2020-12-28 21:12] billalouaali opened #71 "404 on dynamic routes or path error using urls"
Hello guys,

i'm facing a little problem since many days now and i don't figure how to fix it.

I have /pages/views/publication/[slug].tsx, when i try to access it using Link or by the direct url link, i got a : Error: The provided `as` value (/publication/my-super-url) is incompatible with the `href` value (/views/publication/[slug]);

to access it by Link i use :

`<Link href={`views/publication

[2020-12-30 03:54] kyle-mccarthy commented on #71
Hi, this is a good question and wasn't previously documented very well. I updated the basic example to show how to get next's dynamic routing working correctly.

[The post preview component](https://github.com/kyle-mccarthy/nest-next/blob/master/examples/basic/components/post-preview.tsx) shows how to setup the `Link` component with the correct `href` and `as` values.

[The blog controller](https:

[2020-12-30 03:59] #69 closed

[2020-12-30 04:02] kyle-mccarthy commented on #68
I actually don't have any experience with using HMR along with nest. If you resolve this issue, I would appreciate it if you could provide a solution for any future readers!

[2020-12-30 16:24] amir-arad commented on #70
It works!
Thanks again.

do you think it can be done without using the deprecated `RenderModule.register()` ?

[2020-12-30 16:25] amir-arad commented on #70
Looking at #54 I guess it's a duplicated issue

[2020-12-30 16:25] #70 closed

[2020-12-30 18:23] amir-arad opened #72 "support nest 7"
Is it possible to support nest 7?
using npm I get this error
[code]

[2020-12-30 23:52] kyle-mccarthy commented on #72
I can look into this, it doesn't look like this package uses any of the deprecated items so it could be as simple as bumping the versions of the peer dependencies.

[2020-12-31 18:12] billalouaali commented on #71
Hello kyle,

thanks for the answer, i'm not sure to see the difference between mine, and the way that you handle dynamic request on your blog.controller.ts, i tried to move my publication/[slug].tsx in pages so i have pages/views/publication/[slug].tsx with this configuration, the url path expected should be /publication/my-publication-slug so i have :

`RenderModule.forRootAsync(Next({ dev: proce

[2020-12-31 18:46] kyle-mccarthy commented on #71
When you say this do you mean that you are navigating to the page directly, as in typing in the URL to your browser and getting the error?

When using it like this, if you look in your console do you see the prefetch 404ing?

---

Can you try using the Link component like this instead?

[code]

[2020-12-31 19:33] billalouaali commented on #71
Yes, i'm mean by that, typing the url in my browser, after that the error shows up

No i don't see any error in my network/console

[code]

so i have /pages/views/publication/[slug].tsx, by using the`<Link>`code before, and setting viewsDir to null (or not defining it works as well), i can navigate to the page

concerning typing the url in my browser :

setting viewsDir to null and having :

[code

[2020-12-31 20:27] kyle-mccarthy commented on #71
Okay I am having a little trouble helping since I don't have access to your code.

First, can you look at the [example that I provide in the basic example](https://github.com/kyle-mccarthy/nest-next/tree/master/examples/basic)? The immediately relevant files are listed below, but you may want to check and make sure the config is the same (for example I don't change the viewsDir).

- Controller + m

[2020-12-31 23:31] billalouaali commented on #71
After some rework, i found that the issue were coming from the implementation of :

[code]

i don't know why the error talk about path and why this piece of code is defective but what ever... so i replaced it with getInitialProps and everything works as expected.

Thanks for your help and keep the good work 👍

[2021-01-01 01:21] #71 closed

[2021-01-10 00:15] georgeadeishvili commented on #72
It would be nice if update will be soon.

[2021-01-10 00:23] kyle-mccarthy commented on #72
@georgeadeishvili PRs are welcome!

[2021-01-10 16:05] amir-arad commented on #72
Thanks you for the effort @kyle-mccarthy
This is a really sweet library

[2021-01-25 01:37] #72 closed

[2021-01-25 06:25] #66 closed

[2021-01-25 06:25] #63 closed

[2021-02-16 00:41] stevefan1999-personal commented on #48
why dont you just add a static serving module in NestJS lol

[2021-02-16 00:50] kyle-mccarthy commented on #48
@stevefan1999-personal That should work fine as long as you want to have Nest serve the static content rather than Next. Next allows for serving static content from the `public` folder but then performs a "rewrite" on the URL. So if you have an asset such as `public/my-image.png`, it can be accessed from `/my-image.png`.

[2021-02-16 01:00] stevefan1999-personal commented on #48
@kyle-mccarthy well but it sort of works. Hell, I was even able to get `next/image` to work too. So I take that as a practical workaround, still the better solution is what you proposed (if I got right of your idea), when you hit 404 in Next, and try to see if the URL is starting in one of the public/static folders and redirect whenever possible.

[2021-03-04 03:56] dustinlacewell opened #74 "Static Files?"
How to use static files? File in `public/` don't seem to be noticed.

[2021-03-04 04:03] kyle-mccarthy commented on #74
Checkout out #48 for some options for serving the static files. Basically, there are a couple of approaches, and I attempted to solve the issue [here](https://github.com/kyle-mccarthy/nest-next/issues/38#issuecomment-647867509). I think that this is _probably_ an adequate solution, but I wanted to get community feedback before mastering the changes.

[2021-04-08 17:21] thisismydesign opened #75 "Basic example fails to build"
**Describe the bug**

I'm trying to add a reproducible setup to the basic example via Docker. Can't seem to build the example project.

[code]

`Dockerfile`
[code]

[code]

**To Reproduce**

Repository URL: https://github.com/thisismydesign/nest-next/tree/add-docker-to-basic-example

**Version**

As defined in the example.

    "nest-next": "^9.3.0",
    "next": "10",

[2021-04-08 20:55] thisismydesign opened #76 "Usage with Nest CLI"
**Describe the bug**

I'm trying to add Next to my existing NestJS project following the readme and basic example. I'm getting 404 for all pages.

My NestJS project is an example project following the getting started guide, so I imagined the integration to work out of the box. It uses the `nest` CLI for `start` and `build`.

I suspect the pages are not compiled, because I can't find them in the `.

[2021-04-09 12:09] thisismydesign commented on #76
Apparently calling a page `index.tsx` will produce this error. Calling it `home.tsx` as in your example works. Perhaps a mention of this in the readme?

I got the `index` example from here: https://github.com/kelvin-mai/nest-next-example

[2021-04-10 19:41] kyle-mccarthy commented on #76
Hi sorry for the delay in getting back to you. I actually haven't tried to use the nest cli along with this package before, in my example I just use [nodemon for the `dev` command](https://github.com/kyle-mccarthy/nest-next/blob/master/examples/basic/package.json).

That being said, I don't think that the problem is actually related to naming the page `index.tsx`. In the basic example I have a pag

[2021-04-10 20:17] kyle-mccarthy commented on #75
This is interesting... are you getting this error when building locally too? Or is it limited to the container?

[2021-04-11 00:14] thisismydesign commented on #76
I had `pages/views/index.tsx` and `@Render('index')`, you can reproduce it in the linked repo. Maybe I misunderstood how it's supposed to work, still, it was pretty confusing. Up to you how to handle this, feel free to just close.

[2021-04-11 00:18] thisismydesign commented on #75
I don't have a local setup, just docker. I noticed you don't have `yarn.lock` committed or a docker setup. I think it would be great to have a reproducible setup as I don't think the current one is reliable long term.

FWIW if I ignore the offending file from TS, the example works fine.

[2021-04-11 03:07] kyle-mccarthy commented on #75
I agree with you about both the yarn.lock and dockerfile, that is a good idea. I will work on getting a Dockerfile working locally, which will hopefully resolve the issue.

Before I am able to do that though, you should be able to typescript to stop erroring out with the following:

[code]

Note that this isn't considered good practice but I don't want to block your ability to make progress.

[2021-04-11 18:55] thisismydesign commented on #75
Thank Kyle, yes, working around the TS issue is a good temporary solution for me.

[2021-04-27 12:18] sakibrahmanchy opened #77 "Single Page Structure"
I am rendering my pages from NestJS Controller. Is there any way to do it by keeping the singe page structure so everytime a page is switched the window is not refreshed, instead the browser URI is changed, as its done in react-router or Next SSR?

Details:

I have followed the basic example from here: https://github.com/kyle-mccarthy/nest-next/tree/master/examples/basic and created  an app with e

[2021-04-27 18:45] sakibrahmanchy commented on #77
Worked with it and found out the issue. The issue was using Link from next as proposed:

[code]

[2021-04-27 18:46] #77 closed

[2021-04-28 01:19] #67 closed

[2021-04-30 15:41] yakovlev-alexey opened #78 "Next basePath configuration support"
**Describe the bug**
Starting from version 9.5, Next.js has [support](https://nextjs.org/docs/api-reference/next.config.js/basepath) for `basePath` configuration option, which moves all internal endpoints to the specified base path (eg `/docs/_next/...` instead of `/_next/...`). It also prepends this base path to all links and redirects through Next Router, but that is out of scope of this issue.

[2021-05-02 14:02] birksy89 commented on #76
I think I'm having a similar issue - I can't seem to get it to work with the Nest CLI

[2021-05-16 11:38] DiFuks commented on #62
@kyle-mccarthy  How does getServerSideProps work? In ctx.query I am getting an empty object and my nest controller is not being called

[2021-05-16 11:43] DiFuks commented on #62
It is worth clarifying that everything works fine with server rendering. This problem occurs when switching between pages and requests like /_next/data/development/Main.json

[2021-05-20 18:14] imkrunal commented on #76
@kyle-mccarthy  I can confirm this. i have same issues `@Render('index')` throws an error if page is at `pages/views/index.tsx` but if it is at `pages/views/blog/index.tsx` it will work.

[2021-07-27 02:42] #78 closed

[2021-09-15 16:23] javeoff opened #80 "Cannot destructure property 'inAmpMode'"
`Cannot destructure property 'inAmpMode' of '(0 , _react).useContext(...)' as it is null.
    at Html (webpack-internal:///./node_modules/Next/dist/pages/_document.js:168:13)
`

This error handled in a starter project by tutorial. Without module i don't have an error. System: Mac os 12 arm

[2021-09-15 16:26] kyle-mccarthy commented on #80
Can you provide a reproducible example on https://codesandbox.io? Your stack trace shows the error coming from `next` rather than from this package.

[2021-09-15 16:39] javeoff commented on #80
Hello, Kyle! I tried to write my own code. After i had an error and just cloned this project. It was similar to my case and error repeated again. That's project https://github.com/Skn0tt/nextjs-nestjs-integration-example

Now i try to start example from your repository

[2021-09-15 17:51] javeoff commented on #80
I can't started a basic example from this project too. All the time i tried to solve the new problem.
Probably, really, problem in the `next`, but i don't change version in example's package.json.

npm version 7.7.6
node version (it was 14, but after update have no changes) now is 15.14.0

`Type '{ useFilesystemPublicRoutes: false; }' is not assignable to type 'NextConfig'.
  Type '{ useFilesystem

[2021-09-15 18:27] javeoff commented on #80
Sorry. I sent wrong example) Look, this is my example. I cant started this code in my second macos device too (not m1, but mac os 12)
https://github.com/javeoff/nest-next-boilerplate

[2021-09-15 20:40] javeoff commented on #80
Issue in next version, just change to "next": "^11.0.1",
Problem can be closed. Thank you for your attention, Kyle!
If you will understand why in the last next version error is thrown, pls, create issue there, thanks)

[2021-09-22 17:22] #80 closed

[2022-01-13 11:19] vvkuzma opened #82 "path.normalize doesn't works on windows"
**Describe the bug**

File **render.service.ts**  - method **getViewPath(view: string)**
On Windows OS  the use of **path.normalize()** causes an Next.js  error like: **"Cannot render page with path "\index"**

Basically it overrides the path. Changes all "/" symbols to the "\\" and add "\\" at the start of the path f.e:

'blog/posts' =>'\blog\posts'
'index' => '\index'

And next.js can't correctl

[2022-01-13 23:10] kyle-mccarthy commented on #82
@vvkuzma thank you for submitting this bug report. I don't have a windows machine to test on, would you be able to verify that the code below outputs the correct path?

[code]

[2022-01-14 16:25] mmdzov opened #83 "Cannot render page with path "\index", did you mean "/\index"?"
**Describe the bug**
I tried all the methods and when I tried to run ```yarn start: dev```, I got the following error but I could not find any solution.

```Cannot render page with path "\index", did you mean "/\index"?. See more info here: https://nextjs.org/docs/messages/render-no-starting-slash ```

I used any kind of educational article, I went all the way correctly but this bug was in front o

[2022-01-14 22:19] kyle-mccarthy commented on #83
HI, thanks for reporting this. I am pretty sure it is a duplicate of #82, are you on windows?

[2022-01-14 23:06] mmdzov commented on #83
you're welcome.
Yes, I'm on Windows.

[2022-01-14 23:26] kyle-mccarthy commented on #83
I don't have a windows machine to test this on, but I am pretty sure that this change would fix the issue. Is it possible for you to run this and let me know if the output is what you would expect?

[code]

I want to verify that it is `/path/to/file` rather than `\path\to\file`.

[2022-01-15 01:05] mmdzov commented on #83
I executed it and the output was ```/path/to/file```

[2022-01-15 19:42] vvkuzma commented on #82
@kyle-mccarthy thank you for Your response.

I tested the code above on windows and all is ok.

path.posix.normalize("/path/to/file");  - works fine
Returned path is as expected -  "/path/to/file".

Regards

[2022-01-18 18:15] #82 closed

[2022-01-18 18:18] kyle-mccarthy commented on #82
Hi @vvkuzma [I published a new version](https://www.npmjs.com/package/nest-next/v/9.6.0) with a fix for this!

[2022-01-18 18:18] kyle-mccarthy commented on #83
Hi @mmdzov [I published a new version](https://www.npmjs.com/package/nest-next/v/9.6.0) with a fix for this!

[2022-01-18 18:18] #83 closed

[2022-02-16 10:41] highalps opened #85 "how to shallow render with next useRouter hooks?"
i'm trying to pagination with query string (?page=1)

[code]

but router.push with shallow option reload whole application
how can i change query string with useRouter without refresh page?

[2022-02-22 18:26] kuriel-trivu commented on #36
How to deploy it for Vercel?

"errorMessage":"Error: > Couldn't find a `pages` directory. Please create one under the project root"

there are pages folder at root dir:

![image](https://user-images.githubusercontent.com/46456105/155195445-b2b2f747-a415-49e1-ae67-4adea0e4536d.png)

[2022-03-10 17:48] i-tengfei opened #86 "Next.js 12 hmr"
After upgrading to Next.js 12, I'm getting the following error while running the app in dev mode:

[code]

**Version**
- next.js: v12.1.0
- nest: v8.0.0

Next.js used a server-sent events connection to receive HMR events. Next.js 12 now uses a WebSocket connection.

https://github.com/vercel/next.js/pull/30704/files#diff-0220ca71b6e5d1c80ad9e3dedd642059ed9a26c2a5ae414e46f022d2e688c9a6R61

[2022-03-15 01:23] kyle-mccarthy commented on #86
Hey, thanks for letting me know about this; I wasn't aware of the problem. I will try to look into this, but if anyone wants to propose a PR in the meantime, I encourage them to do so!

[2022-03-15 14:24] yakovlev-alexey commented on #86
Hello! I actually would like to help with this issue. However I was unable to reproduce it on my computer. I used this repository - https://github.com/yakovlev-alexey/nest-next-example/tree/next-12 - on the branch `next-12`. In my case connection to `ws://localhost:3000/_next/webpack-hmr` was established successfully and HMR worked as intended in MacOS Chromium 95.

@i-tengfei, could you please pr

[2022-03-19 06:02] i-tengfei commented on #86
this repository -  `https://github.com/yakovlev-alexey/nest-next-example/tree/next-12` works for me.
I'll try to find out what's different between the two, thanks guys.

[2022-03-19 06:02] #86 closed

[2022-03-28 05:57] rushil-patel opened #87 "Inject Dynamic url parameter into template"
**Describe the bug**
A clear and concise description of what the bug is.
What i'm seeing is that with `next v11` the following code works in a way where the `id` url parameter is injected into the template name:

[code]

However with `next v12` this doesn't seem to work anymore. What i've observed with `v12` is that `ctx.query.id` is set to the string `[id]` rather than the actual `id value`.

**E

[2022-03-28 06:01] rushil-patel commented on #87
For now the work around i've got to work is to wire it up manually:
[code]

It'd be nice if the injection happened automatically though

[2022-03-29 04:38] kyle-mccarthy commented on #87
Hey, thanks for reporting this. Would you be able to create a minimal reproducible example and provide a link to the example repository?

[2022-03-29 06:28] rushil-patel commented on #87
@kyle-mccarthy Yeah sure thing. Here is a demo repo. The master branch is working as expected with Next v11. I put a branch called `next-12` where you can observe the broken behavior, following these steps:
repo: https://github.com/rushil-patel/nest-next-test

// SETUP Clone nest-next-test repository and check out the `next-12` branch
- `yarn`
- `yarn build`
- `yarn start`

- Navigate to `http://l

[2022-04-02 08:08] jinpikaFE opened #88 "How to set next.config and how to use less"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**

Repository URL:

**Version**
- next.js:
- nest:
- nest-next:

**Additional context**
Add any other context about the problem here.

[2022-04-07 17:36] kyle-mccarthy commented on #88
Please use the issue template. Currently, it is not clear what the problem or question is.

[2022-04-07 17:36] #88 closed

[2022-04-08 19:08] rushil-patel commented on #87
Any idea on if this issue can be addressed within `nest-next`? I'd be willing to take a stab at it but am not entirely sure what the root cause is. Would appreciate any pointers.

[2022-04-09 04:39] kyle-mccarthy commented on #87
Hey, sorry, I just had the opportunity to look into this issue. I noticed that in your example, you used the monorepo approach; this was contributed by a member that has since deleted their GitHub account. Unfortunately, this was never a use case of mine, and I cannot provide any meaningful suggestions or workarounds.

That being said, the "basic" example still works as expected. The primary diffe

[2022-04-12 18:54] ralls commented on #38
@kyle-mccarthy do you plan on releasing `9.3.0-beta.0`? It's the only way I am able to implement Auth0.

[2022-04-13 21:30] kyle-mccarthy commented on #38
@ralls done! just deployed v10 to npm

[2022-04-13 22:34] ralls commented on #38
@kyle-mccarthy Thank you! 👍

[2022-04-19 02:22] #75 closed

[2022-05-14 15:15] tahmeednabi commented on #80
For anyone wanting to use latest version of next, I solved the issue for myself.

I was trying to recreate the monorepo example of the next-next project, however, with the latest version of next, both server and client need to be using the same next module, so I simply ran `yarn remove next` in both client and server, and `yarn add next` in the root repository. Should work fine after that.

[2022-05-18 16:57] Yannickvandenbos opened #90 "Not able to reach nest endpoints."
**Describe the bug**
I have authentication setup in my nest project.
In my app.controller.ts I have all my view endpoints (needs to be handled by next) and one login endpoint (needs to be handled by nest). Everytime I try to reach the login endpoint, I get a next 404 error page in return instead of the expected JSON TOKEN.

**Expected behavior**
Returning JSON TOKEN if credentials are correct.

`@

[2022-05-18 17:50] #90 closed

[2022-06-03 19:14] okhomenko commented on #90
Hey @Yannickvandenbos. Did you figure out how to make it work?

[2022-06-04 11:17] kusaljr commented on #36
Have you found solution for this?

[2022-06-06 01:55] kyle-mccarthy commented on #36
@kusaljr this library is not compatible with Vercel. Specifically, any Next.js setups that use a custom server cannot be deployed to Vercel. See the Next docs about a custom server https://nextjs.org/docs/advanced-features/custom-server

[2022-06-22 02:54] #87 closed

[2022-06-22 02:55] kyle-mccarthy commented on #74
This functionality can be enabled using the [pass through-404s](https://github.com/kyle-mccarthy/nest-next#pass-through-404s).

[2022-06-22 02:55] #74 closed

[2022-09-06 14:43] joshkay commented on #38
Is it possible to filter which 404 reponses are passed through to next?  I would like to prevent my 404 api responses from rendering an error page.

[2022-10-07 06:40] barbarbar338 opened #91 "Module-wide type error (Fix included)"
Since the typing source is not specified, a type error is received in editors such as VSCode. Need to add
[code]
into package.json. IDK if repo is still maintained so created an issue instead of creating a PR.

[2022-10-08 05:50] kyle-mccarthy commented on #91
Hey this repo is still maintained and I would love a PR. Would you mind opening one?

[2022-10-08 06:10] barbarbar338 commented on #91
Well it wasn't working properly for me until I add typings field yesterday but it works now sorry :D

[2022-10-08 06:10] #91 closed

[2022-10-08 07:01] kyle-mccarthy commented on #91
Hey, please don't be sorry. I haven't been following typescript updates as closely recently. If this is a something that's beneficial to everyone I'd like to make sure it gets resolved.

[2022-10-27 12:54] yakovlev-alexey opened #92 "Usage with Next@13"
At the latest Next.js Conf Next.js 13 was announced - https://nextjs.org/blog/next-13. It brings a lot of (experimental) changes including the introduction of Turbopack and (most notably) new routing system. You can check WIP documentation here - https://beta.nextjs.org/docs/app-directory-roadmap.

I figured it would make sense to create an issue where all observations and issues with `nest-next`

[2022-11-01 11:30] rubenvereecken opened #93 "Nest routing issue with nested pages"
**Describe the bug**
It's common to have page structures such as the following
[code]

I have a simple `UsersController` that takes care of rendering all pages in `pages/users`. However, the following doesn't work:

[code]

The result is a 404.

Strangely, when renaming the file `pages/users/index.tsx` to e.g. `pages/users/users.tsx` and changing the `@Render` line appropriate, that does work! How

[2022-11-01 11:30] rubenvereecken commented on #93
@yakovlev-alexey you seem to know your way around the codebase really well — perhaps you would see the problem more easily?

[2022-11-01 12:05] rubenvereecken commented on #92
For what it's worth, I second @yakovlev-alexey as co-maintainer. [He obviously knows his way around nest-next](https://dev.to/yakovlev_alexey/advanced-practices-for-nestjs-nextjs-projects-36g9#cdn-deployment).

[2022-11-01 12:16] rubenvereecken commented on #93
This seems relevant: https://dev.to/yakovlev_alexey/creating-a-project-with-nestjs-nextjs-3i1i#comment-2236g

[2022-11-01 16:18] yakovlev-alexey commented on #93
Pretty sure Next will try to parse `index` as the id.

Give this a try (do not specify `index` file explicitly, just the nested directory):

[code]

[2022-11-01 20:28] kyle-mccarthy commented on #92
I would totally be open to making you a co-maintainer. Do you have any specific proposal in mind? Part of me wonders if setting up nest as a [standalone application](https://docs.nestjs.com/standalone-applications) and exposing a router from nest-next to handle all the api routes would be best.

[2022-11-02 09:14] yakovlev-alexey commented on #92
I would start by introducing a test suite testing the following:

- static pages
- getServerSideProps, getInitialProps, etc with context checking (values returned from controlled should end up in `query`)
- paths with single and multiple route params, nested and at the root
- static paths beside paths with routes params like in #93
- usage with `baseUrl` and other `next.config.js` options (asset u

[2022-11-02 09:16] yakovlev-alexey opened #94 "nest-next test suite"
From #92:

[2022-11-02 09:19] yakovlev-alexey opened #95 "Standalone Nest application"
From #92:

[2022-11-02 09:25] yakovlev-alexey commented on #94
Actually while there is no need to specify Nest version Nest adapter should be specified (fastify/express)

[2022-11-02 12:51] rubenvereecken commented on #93
@yakovlev-alexey I see.. that explains a fundamental misunderstanding of mine: Nest is actually sending this to Next.js to interpret. It's not pointing at a particular file.

This also explains the second, bigger issue. How would I handle dynamic routes?

[code]

This doesn't work of course. How do I parameterize the page that's being rendered, so that I can actually pass on the id? Because in thi

[2022-11-02 13:54] yakovlev-alexey commented on #93
Pretty sure the issue was introduced in Next@12. I have an idea on how to fix this (though this might be a breaking change). I will get back with more info in an hour or two.

[2022-11-03 02:25] kyle-mccarthy commented on #93
Hey it seems like your example is similar to the [basic example](https://github.com/kyle-mccarthy/nest-next/tree/master/examples/basic). It has a nested routes for the blog, `/blog` which is the index and then `/blog/[slug]` which is the individual blog pages. Check out the controller here https://github.com/kyle-mccarthy/nest-next/blob/master/examples/basic/src/blog/blog.controller.ts

[2022-11-05 01:47] kyle-mccarthy commented on #93
@rubenvereecken can you provide a minimal reproducible example? I've verified that the basic example works with next 12. Perhaps it's something specific to your setup?

[2022-11-05 08:04] yakovlev-alexey commented on #93
@kyle-mccarthy check out https://github.com/kyle-mccarthy/nest-next/pull/97. It includes a test app which serves as a reproduction repo. I've left a link to mirror PR in my fork where CI was able to run. And I can confirm that since Next@12 nested dynamic parameters don't work.

[2022-11-08 15:25] rubenvereecken commented on #93
@yakovlev-alexey any way I can help or contribute to the PR for the routing part?

[2022-11-08 19:45] basselabbara commented on #93
@rubenvereecken @yakovlev-alexey I'm still checking the code and connecting the dots. I can see some console logs left. Is that on purpose?

[2022-11-08 19:48] yakovlev-alexey commented on #93
Logs definitely are not on purpose and are debugging leftovers - will remove them. Also thinking about renaming `next` directory to `vendor/next`. Probably will update the PR now

[2022-11-08 19:54] yakovlev-alexey commented on #93
PR is updated. Also thrown in Vercel Next.js license just in case.

[2022-11-23 12:02] pereslavtsev commented on #85
any solutions?